*.jpg binary
*.jpeg binary
*.png binary
*.gif binary
*.bmp binary
*.tif binary
*.tiff binary
*.mp4 binary
*.avi binary
*.mov binary
*.flv binary
*.mkv binary
*.mp3 binary
*.wav binary
*.ogg binary
*.flv binary
*.obj binary
*.fbx binary
*.blend binary
*.dae binary
*.stl binary
*.zip binary
*.rar binary
*.7z binary
*.psd binary
*.ai binary
*.pdf binary
*.exe binary
*.dmg binary
*.svg binary
*.eps binary
*.cdr binary
*.dxf binary
*.wmf binary
*.emf binary